@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.font-color {
    color: #000000;
}

.font-color-1 {
    color: #003367;
}

.font-color-2 {
    color: #064789;
}

.font-color-3 {
    color: #ffffff;
}

.font-color-4 {
    color: #427AA1;
}

* {
    box-sizing: border-box;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-900 {
    font-weight: 900;
}

.radial-gradient {
    position: absolute;
    left: 15%;
    top: 0;
}
.radial-gradient2 {
    position: absolute;
    left: -25%;
    top: -400px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 5rem;
    color: #064789;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px rgba(103, 103, 103, 0.532);
}
.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-btn {
    display: none;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #064789;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #064789;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

.contact-btn a {
    background-color: #064789;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-btn a:hover {
    background-color: #003367;
    color: white;
}

body {
    padding-top: 60px;
}

.home {
    position: relative;
    height: 95vh;
    width: 100vw;
    background-image: url('./../assets/landing-page-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.home-button-border {
    position: absolute;
    margin: 10px;
    bottom: -30px;
}

.home h1 {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.home h2 {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.home h3 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 150px;
}

.about-us {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem 5rem 5rem;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;
    gap: 1rem;
    margin-top: 5rem;
}

.heading {
    font-size: 4rem;
    color: #003367;
    font-weight: 800;
    flex: 1;
    text-align: left;
}

.header-description {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #000000;
    flex: 2;
    text-align: left;
}

.about-us-imgcontainer {
    align-items: center;
    padding: 0rem 5rem 0rem 5rem;
}

.about-us-imgcontainer img {
    width: 100%;
    height: auto;
}

.highlighted-text {
    color: #427AA1;
    font-weight: bold;
}

.about-us h3 {
    color: #427AA1;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.about-us h2 {
    color: white;
    text-align: left;
    font-size: 2rem;
}

.about-us h1 {
    color: #064789;
    text-align: left;
    font-size: 3rem;
}

.about-us p {
    color: #000000;
    text-align: left !important;
    font-size: 1.2rem;
}

.about-us-image {
    position: relative;
    max-width: 50%;
}
.about-spouse {
    position: relative;
    max-width: 100vw;
    margin: 20px;
}

.spouses-text {
    position: absolute;
    bottom: 0;
    left: 2.3rem;
    color: white !important;
    font-size: 2em !important;
    font-weight: 800;
    
}

.about-us-image-2 {
    width: 100%;
}

.about-us-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-spouse img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-us-image-2 img {
    width: 100%;
    height: auto;
}

.spouseMaleContainer {
    position: absolute;
    bottom: 8rem;
    left: 70px;
}

.spouseFemaleContainer {
    position: absolute;
    bottom: 5rem;
    right: 9rem;
}

.about-us-text {
    max-width: 50%;
}

.spouseMaleContainer p {
    color: white;
    font-size:medium;
    font-weight: 300;
    line-height: 0%;
}
.spouseFemaleContainer p {
    color: white;
    font-size:medium;
    font-weight: 300;
    line-height: 0%;
}

#spouse-male {
    color: white;
    font-size: medium;
    font-weight: 600;
    line-height: 0%;
}
#spouse-female {
    color: white;
    font-size: medium;
    font-weight: 600;
    line-height: 0%;
}

.text-container {
    display: flex;
    text-align: left;
    background-color: #ffffff;
    flex-direction: column;
    padding: 5rem 10rem 5rem 10rem;
}

.image-carousel {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #eaeaea;
    align-items: center;
}

.image-carousel img {
    height: auto;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
    scroll-snap-align: start;
}

.services {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services h1 {
    color: #064789;
    text-align: center;
    font-size: 3rem;
}

.services h3 {
    color: #427AA1;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.services-column {
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* margin-top: 2rem; */
    flex-wrap: wrap;
}

.services-img {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.services-img img {
    width: calc(60vh * 3 / 4);
    height: 50vh;
    object-fit: cover;
    border-radius: 8px;
}

.services-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.image-overlay {
    position: relative;
    width: calc(60vh * 3 / 4);
    height: 50vh;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.image-overlay-2 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    z-index: 2;
}

.overlay-text-2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    line-height: 2rem;
    z-index: 2;
}

.overlay-text-3 {
    position: absolute;
    justify-content: center;
    top: 35%;
    right: 10%;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    line-height: 3rem;
    z-index: 2;
}

.arrow-button {
    width: 7rem !important;
    height: 7rem !important;
    position: absolute !important;
    bottom: 1% !important;
    right: 1% !important;
    cursor: pointer;
}

.arrow-button-home {
    width: 7rem !important;
    height: 7rem !important;
    position: absolute !important;
    bottom: -8% !important;
    right: 50% !important;
    transform: rotate(90deg) translateY(-50%);
    cursor: pointer;
}

.arrow-button-2 {
    width: 7rem !important;
    height: 7rem !important;
    position: absolute !important;
    bottom: 10% !important;
    right: 4% !important;
    cursor: pointer;
}

.arrow-button-home:hover {
    transform: rotate(90deg) translateY(-50%) scale(1.2);
    transition: all 0.3s ease;
    
}
.arrow-button-2:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.department {
    padding: 7rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.department p {
    color: #000000;
    text-align: center;
    font-size: 1rem;
}

.department h1 {
    color: #064789;
    text-align: center;
    font-size: 3rem;
}

.department h3 {
    color: #427AA1;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.department-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    grid-auto-flow: dense;
}

.department-item {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 250px;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.department-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.department-item img {
    width: 40px;
    height: 40px;
    align-items: center;
}

.department-item p {
    color: #064789;
    font-size: 1rem;
    margin: 0;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    /* width: 100%; */
    height: 90px;
    gap: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-item h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.services-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hmo-container {
    width: 100vw;
    align-items: center;
    padding: 10rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.image-grid img {
    width: 40vh;
    height: auto;
    object-fit: cover;
}

/* .image-grid:last-child {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
} */

.logo-container {
    padding: 4rem 0 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: linear-gradient(135deg, #4B3363, #064789);
    padding: 5rem 10rem 3rem 10rem;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-section:last-child {
    text-align: right;
}

.footer-section a {
    margin-top: 0.5rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    color: #9fd7ff;
}

.footer-logo img {
    width: 250px;
    height: auto;
}

.footer-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2rem 0rem 2rem 0rem;
}

.footer-bottom {
    background-color: white;
    color: #333;
    padding: 0.2rem;
    text-align: center;
    line-height: 0.5rem;
}

.footer-bottom h3 {
    font-weight: bold;
    margin-top: 1rem;
    font-size: small;
}

.footer-bottom p {
    font-size: small;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: rgba(154, 154, 154, 0.482);
}

.container {
    display: flex;
    width: 80%;
    height: 40rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-section {
    flex: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    /* border-left: 1px solid #ddd; */
}

.services-text {
    text-align: left;
    font-size: 2.5rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 10rem 5rem 10rem;
    border-radius: 8px;
}

.contact-info {
    width: 40%;
    padding: 1rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.icon {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.divider {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #ccc;
}

.social-media {
    text-align: left;
    display: flex;
    gap: 1rem;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.contact-form {
    width: 50%;
    background-color: #eaf3ff;
    padding: 5rem 3rem 5rem 3rem;
    border-radius: 8px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #003367;
}

.form-group input,
.form-group textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    color: #000000;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #427AA1;
}

.submit-button {
    background-color: #003367;
    color: #fff;
    padding: 0.75rem 4rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #427AA1;
}

.map-container {
    /* width: 100%; */
    max-width: 1600px;
    margin: 0 10% 5rem 10%;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#physicians {
    position: relative;
    overflow: hidden;
}

.physicians-container {
    width: 100vw;
    padding: 1rem 3rem 1rem 3rem;
    /* border: 1px solid #ccc; */
}

.title {
    font-size: 2.5rem;
    color: #427AA1;
    text-align: left;
    padding: 0 7rem;
    /* border: 1px solid #ccc; */
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 3rem 1rem 3rem 7rem;
    /* border: 1px solid #ccc; */
}

.profile-card {
    flex: 0 0 auto;
    width: 330px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.profile-name {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 1.25rem 0rem 1.25rem;
    font-weight: 600;
}

.profile-schedule {
    padding: 1rem;
    justify-content: center;
    align-items: center !important;
}

.schedule-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.days {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    background-color: #427AA1;
    min-width: 100px;
    width: fit-content;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    font-size: 0.75rem;
    margin: auto;
    margin-bottom: 0;
}

.time {
    color: #000000;
    font-size: 1rem;
    flex: 1;
}

.profiles-container::-webkit-scrollbar {
    height: 8px;
}

.profiles-container::-webkit-scrollbar-thumb {
    background-color: #3b4a6b;
    border-radius: 4px;
}

.logo-slider {
    overflow-x: hidden;
    white-space: nowrap;
    background: white;
    position: relative;
    padding: 1rem 0rem 1rem 0rem;
    width: 100vw;
}

.logos-wrapper {
    display: flex;
    gap: 50px;
}

.logos {
    display: flex;
    gap: 30px;
    animation: scroll 35s linear infinite;
}

.logos img {
    height: 80px;
    object-fit: contain;
}

@keyframes scroll {
    from {
        transform: translateX(80%);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos:hover {
    animation-play-state: paused;
}

@media screen and (max-width: 1320px) {
    .dropdown-links {
        display: none;
    }
    .spouseFemaleContainer {
        position: absolute;
        bottom: 5rem;
        right: 6rem;
    }
    .spouses-text {
        font-size: 1.2em !important;
    }

    .overlay-text-3 {
        font-size: 2.4rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 1030px) {
    .navbar-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        justify-content: center;
        /* flex-direction: column; */
        gap: 0.5rem;
        width: 100%;
        padding: 1rem 0;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
    }

    .about-us-text {
        max-width: 100vw;
        padding: 0rem 1rem 2rem 1rem;
    }

    .about-us-image {
        max-width: 100%;
    }
    .about-us-image img {
        max-width: 100%;
    }

    .spouses-text {
        left: 0;
        font-size: 2em !important;
    }

    .overlay-text-3 {
        top:40%;
        width: 40vw;
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .home {
        height: 40vh;
        width: 100vw;
        background-image: url('./../assets/landing-page-bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }

    .home h1 {
        color: white;
        text-align: center;
        font-size: 3rem;    
    }

    .home h2 {
        color: white;
        text-align: center;
        font-size: 4rem;
    }

    .home h3 {
        color: white;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 90px;
    }

    .contact-btn a {
        background-color: #064789;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 7px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .contact-btn a:hover {
        background-color: #003367;
        color: white;
    }

    .about-us {
        display: block;
        padding: 0rem;
        background-color: #ffffff;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 3rem;
        gap: 1rem;
        margin-top: 5rem;
    }

    .heading {
        font-size: 2rem;
        color: #003367;
        font-weight: 800;
        flex: 1;
        text-align: left;
    }

    .header-description {
        font-size: 1rem;
        line-height: 1.6;
        color: #000000;
        flex: 2;
        text-align: left;
    }

    .about-us-container {
        position: relative;
        align-items: center;
        overflow: hidden;
    }

    .about-us-imgcontainer {
        width: 100vw;
        align-items: center;
        padding: 0rem 2rem 0rem 2rem;
    }

    .about-us-imgcontainer img {
        /* width: 100vw; */
        height: auto;
    }

    .highlighted-text {
        color: #427AA1;
        font-weight: bold;
    }

    .about-us h3 {
        color: #427AA1;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    .about-us h2 {
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .about-us h1 {
        color: #064789;
        text-align: center;
        font-size: 2rem;
    }

    .about-us p {
        color: #000000;
        text-align: center;
        font-size: 1rem;
        padding: 0rem 3rem 0rem 3rem;
    }

    .about-us-image {
        text-align: center;
        /* Centers inline elements like images */
        width: 100%;
    }

    .about-us-image-2 {
        width: 100%;
    }

    .about-us-image img {
        display: block;
        /* Makes the image a block element */
        margin: 0 auto;
        /* Centers the image horizontally */
        width: 65vh;
        /* Keeps your desired width */
        height: auto;
        border-radius: 10px;
    }

    .about-us-image-2 img {
        width: 100%;
        height: auto;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 5rem;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-info {
        margin-bottom: 2rem;
    }

    .contact-form {
        padding: 1.5rem;
    }

    .form-row {
        flex-direction: column;
    }

    .map-container {
        width: 100%;
        max-width: 700px;
        margin: 0 auto 5rem auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .department {
        padding: 7rem 2rem 7rem 2rem;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .department p {
        color: #000000;
        text-align: center;
        font-size: 1rem;
    }

    .department h1 {
        color: #064789;
        text-align: center;
        font-size: 2rem;
    }

    .department h3 {
        color: #427AA1;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    .department-grid {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .department-item {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        text-align: center;
        width: 170px;
        height: 75px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .department-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .department-item img {
        width: 30px;
        height: 30px;
        align-items: center;
    }

    .department-item p {
        color: #064789;
        font-size: 0.85rem;
        margin: 0;
    }

    .image-overlay-2 {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .overlay-text-2 {
        position: absolute;
        bottom: 10%;
        left: 70px;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        line-height: 1rem;
        z-index: 2;
    }

    .overlay-text-3 {
        position: absolute;
        justify-content: center;
        top: 10%;
        right: 10%;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        line-height: 1.5rem;
        z-index: 2;
    }

    .hmo-container {
        align-items: center;
        padding: 3rem;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .image-grid img {
        width: 13vh;
        height: auto;
        object-fit: cover;
    }

    .image-grid:last-child {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .image-section {
        flex: 1;
    }

    .image-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0rem 0rem 0rem;
    }

    .container {
        display: flex;
        width: 95%;
        height: 30rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: white;
    }

    .text-section {
        flex: 1;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        /* border-left: 1px solid #ddd; */
    }

    .text-section p {
        font-size: 0.8rem;
    }

    #services {
        position: relative;
        overflow: hidden;
    }

    .services-text {
        text-align: left;
        font-size: 1.5rem;
    }

    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    .services-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        text-align: center;
        max-width: 200px;
        min-width: 130px;
        height: 70px;
        gap: 0.5rem;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .services-item h3 {
        font-size: 0.85rem;
        font-weight: 700;
    }

    .services-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .text-container {
        display: flex;
        text-align: left;
        background-color: #ffffff;
        flex-direction: column;
        padding: 3rem;
    }

    .physicians-container {
        padding: 1rem;
        /* border: 1px solid #ccc; */
    }

    .title {
        font-size: 2.5rem;
        color: #427AA1;
        text-align: center;
        padding: 0 3rem;
        /* border: 1px solid #ccc; */
    }

    .profiles-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 2rem;
        justify-content: center;
    }

    .profiles-container:has(.profile-card:only-child) {
        display: flex;
        justify-content: center;
    }

    .profile-card {
        flex: 0 0 auto;
        width: 330px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden;
    }

    .profile-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .profile-name {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 1.25rem 0rem 1.25rem;
        font-weight: 600;
    }

    .profile-schedule {
        padding: 1rem;
        justify-content: center;
        align-items: center !important;
    }

    .schedule-slot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
    }

    .days {
        display: inline-block;
        font-weight: bold;
        color: #ffffff;
        background-color: #427AA1;
        width: fit-content;
        text-align: center;
        padding: 7px;
        border-radius: 50px;
        font-size: 0.75rem;
        margin: auto;
        margin-bottom: 0;
    }

    .time {
        color: #000000;
        font-size: 1rem;
        flex: 1;
    }

    .profiles-container::-webkit-scrollbar {
        height: 8px;
    }

    .profiles-container::-webkit-scrollbar-thumb {
        background-color: #3b4a6b;
        border-radius: 4px;
    }

    .footer {
        background: linear-gradient(135deg, #4B3363, #064789);
        padding: 4rem 3.5rem 4rem 3.5rem;
        color: #ffffff;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-content h2 {
        color: #ffffff;
        font-size: 1.25rem;
    }

    .footer-section p {
        color: #ffffff;
        font-size: 0.75rem;
    }

    .footer-section {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .footer-section:last-child {
        text-align: right;
    }

    .footer-section a {
        margin-top: 0.5rem;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        font-size: 0.75rem;
    }

    .footer-section a:hover {
        color: #9fd7ff;
    }

    .footer-logo img {
        width: 250px;
        height: auto;
    }

    .footer-icons {
        display: flex;
        gap: 1.5rem;
    }

    .social-icon {
        width: 45px;
        height: 45px;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .social-icon:hover {
        transform: scale(1.1);
    }

    .footer-line {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 2rem 0rem 2rem 0rem;
    }

    .footer-bottom {
        background-color: white;
        color: #333;
        padding: 0.2rem;
        text-align: center;
        line-height: 0.5rem;
    }

    .footer-bottom h3 {
        font-weight: bold;
        margin-top: 1rem;
        font-size: small;
    }

    .footer-bottom p {
        font-size: small;
    }
}


@media screen and (max-width: 840px) {
    .navbar {
        padding: 1rem 1rem;
    }
    .container {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        display: none;
    }
    .dropdown-btn {
        position: absolute;
        background-color: transparent;
        padding: 4px 16px;
        right: 3%;
        display: block;
        z-index: 9999;
        color:#003367;
    }

    .dropdown-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }
    .dropdown-links {
        margin: 0px;
    }
}


@media screen and (max-width: 500px) {
    .dropdown-btn {
        right: 1%;
    }
    .arrow-button-2 {
        width: 4rem !important;
        height: 4rem !important;
        position: absolute !important;
        bottom: 10% !important;
        right: 4% !important;
        cursor: pointer;
    }

    .spouseMaleContainer p {
        color: white;
        font-size:medium;
        font-weight: 300;
        line-height: 0%;
    }

    .spouseFemaleContainer {
        position: absolute;
        bottom: 5rem;
        right: 2rem;
    }

    .spouseMaleContainer {
        position: absolute;
        bottom: 5rem;
        left: 2rem;
    }

    .spouses-text {
        left: 0rem;
        font-size: 1.2em !important;
    }
    
    .overlay-text-3 {
        position: absolute;
        justify-content: center;
        top: 35%;
        right: 10%;
        color: #ffffff;
        font-size: 1rem !important;
        font-weight: bold;
        text-align: left;
        line-height: 1.5rem;
        z-index: 2;
    }
    .profiles-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 3rem 1rem 3rem 1rem;
        /* border: 1px solid #ccc; */
    }

    .title {
        font-size: 1.8rem;
        padding: 0px;
    }
}

@media (max-width: 450px) {
    .home {
        width: 100%;
        height: 50vh;
        background-image: url('./../assets/landing-page-bg.png');
        background-size: cover;
    }

    .home h1 {
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .home h2 {
        color: white;
        text-align: center;
        font-size: 4rem;
    }

    .home h3 {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
        gap: 1rem;
        margin-top: 2rem;
    }

    .heading {
        font-size: 1.2rem;
        color: #003367;
        font-weight: 800;
        flex: 1;
        text-align: center;
    }

    .header-description {
        font-size: 0.75rem;
        line-height: 1.3;
        color: #000000;
        flex: 2;
        text-align: left;
    }

    .about-us-container {
        align-items: center;
    }

    .about-us-imgcontainer {
        align-items: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    .about-us-imgcontainer img {
        width: 100%;
        height: auto;
    }

    .highlighted-text {
        color: #427AA1;
        font-weight: bold;
    }

    .about-us h3 {
        color: #427AA1;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .about-us h2 {
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .about-us h1 {
        color: #064789;
        text-align: center;
        font-size: 1.25rem;
    }

    .about-us p {
        color: #000000;
        text-align: center;
        font-size: 0.75rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .about-us-text {
        max-width: 100%;
        padding: 0rem 1rem 1rem 1rem;
    }

    .about-us-image {
        text-align: center;
        width: 100%;
    }

    .about-us-image-2 {
        width: 100%;
    }

    .about-us-image img {
        display: block;
        margin: 0 auto;
        width: 50vh;
        height: auto;
        border-radius: 10px;
    }

    .about-us-image-2 img {
        width: 100%;
        height: auto;
    }

    .arrow-button {
        width: 7rem !important;
        height: 7rem !important;
        position: absolute !important;
        bottom: 1% !important;
        right: 1% !important;
        cursor: pointer;
    }

    .arrow-button-2 {
        width: 4rem !important;
        height: 4rem !important;
        position: absolute !important;
        bottom: 10% !important;
        right: 3% !important;
        cursor: pointer;
    }

    .arrow-button,
    .arrow-button-2:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .services {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #ffffff;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .services h1 {
        color: #064789;
        text-align: center;
        font-size: 1.25rem;
    }

    .services h3 {
        color: #427AA1;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    .services-column {
        display: block;
    }

    .services-img {
        display: flex;
        gap: 5rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .services-img img {
        width: calc(60vh * 3 / 4);
        height: 50vh;
        object-fit: cover;
        border-radius: 8px;
    }

    .services-img:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .image-overlay {
        position: relative;
        width: calc(60vh * 3 / 4);
        height: 50vh;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
    }

    .image-overlay-2 {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .image-overlay img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .arrow-button {
        width: 3rem !important;
        height: 3rem !important;
        position: absolute !important;
        bottom: 3% !important;
        right: 3% !important;
        cursor: pointer;
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        line-height: 2rem;
        z-index: 2;
    }

    .overlay-text-2 {
        position: absolute;
        bottom: 10%;
        left: 17%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        line-height: 1rem;
        z-index: 2;
    }

    .overlay-text-3 {
        position: absolute;
        justify-content: center;
        top: 30%;
        right: 10%;
        color: #ffffff;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: left;
        line-height: 1rem;
        z-index: 2;
    }

    .department {
        padding: 2rem 1rem 2rem 1rem;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .department p {
        color: #000000;
        text-align: center;
        font-size: 1rem;
    }

    .department h1 {
        color: #064789;
        text-align: center;
        font-size: 1.25rem;
    }

    .department h3 {
        color: #427AA1;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .department-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .department-item {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        text-align: center;
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .department-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .department-item img {
        width: 25px;
        height: 25px;
        align-items: center;
    }

    .department-item p {
        color: #064789;
        font-size: 0.75rem;
        margin: 0;
        text-align: left;
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem 0rem 0rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: white;
    }

    .image-section {
        flex: 1;
    }

    .image-section img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .text-section {
        flex: 1;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .text-section p {
        font-size: 0.75rem;
        text-align: left;
    }

    .services-text {
        text-align: left;
        font-size: 1rem;
    }

    .services-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    .services-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 120px;
        height: 70px;
        gap: 0.5rem;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .services-item h3 {
        font-size: 0.75rem;
        font-weight: 700;
    }

    .services-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .physicians-container {
        padding: 0rem;
        /* border: 1px solid #ccc; */
    }

    .title {
        font-size: 1.5rem;
        color: #427AA1;
        text-align: center;
        padding: 0rem;
        /* border: 1px solid #ccc; */
    }

    .profiles-container {
        display: flex;
        justify-content: center;
    }

    .profiles-container:has(.profile-card:only-child) {
        display: flex;
        justify-content: center;
    }

    .profile-card {
        flex: 0 0 auto;
        width: 300px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden;
    }

    .profile-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .profile-name {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 1.25rem 0rem 1.25rem;
        font-weight: 600;
    }

    .profile-schedule {
        padding: 1rem;
        justify-content: center;
        align-items: center !important;
    }

    .schedule-slot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
    }

    .days {
        display: inline-block;
        font-weight: bold;
        color: #ffffff;
        background-color: #427AA1;
        width: 100px;
        text-align: center;
        padding: 5px;
        border-radius: 50px;
        font-size: 0.75rem;
        margin-bottom: 0;
    }

    .time {
        color: #000000;
        font-size: 0.80rem;
        flex: 1;
    }

    .text-container {
        display: flex;
        text-align: left;
        background-color: #ffffff;
        flex-direction: column;
        padding: 2rem;
    }

    .hmo-container {
        align-items: center;
        padding: 1rem 1rem 3rem 1rem;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .image-grid img {
        width: 20vh;
        height: auto;
        object-fit: cover;
    }

    .image-grid:last-child {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .text-container h3,
    p {
        font-size: 0.80rem;
    }

    .contact-container {
        padding: 1rem;
        border-radius: 8px;
    }

    .info-item {
        align-items: center;
        margin-bottom: 0rem;
    }

    .contact-info {
        padding: 1rem 1rem 0rem 1rem;
    }

    .icon {
        width: 35px;
        height: 35px;
        margin-right: 1rem;
    }

    .divider {
        margin: 1rem 0;
        border: none;
        border-top: 1px solid #ccc;
    }

    .social-media {
        text-align: left;
        display: flex;
        gap: 1rem;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }

    .contact-form {
        width: 95%;
        background-color: #eaf3ff;
        padding: 1rem;
        border-radius: 8px;
    }

    .form-row {
        display: block;
        justify-content: space-between;
    }

    .form-group {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 0.75rem;
        color: #003367;
    }

    .form-group input,
    .form-group textarea {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        background-color: #fff;
        color: #000000;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        outline: none;
        border-color: #427AA1;
    }

    .submit-button {
        background-color: #003367;
        color: #fff;
        padding: 0.75rem 4rem;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .submit-button:hover {
        background-color: #427AA1;
    }

    .map-container {
        width: 90%;
        max-width: 500px;
        margin: 0 auto 5rem auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }


    .info-item p {
        font-size: 0.75rem;
    }

    .form-group input,
    .form-group textarea {
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    .submit-button {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
    }

    .footer {
        background: linear-gradient(135deg, #4B3363, #064789);
        padding: 2rem;
        color: #ffffff;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .footer-content h2 {
        color: #ffffff;
        font-size: 1rem;
    }

    .footer-section p {
        color: #ffffff;
        font-size: 0.75rem;
    }

    .footer-section {
        display: block;
        text-align: center;
    }

    .footer-section a {
        margin-top: 0.5rem;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        font-size: 0.75rem;
    }

    .footer-section a:hover {
        color: #9fd7ff;
    }

    .footer-section:last-child {
        text-align: center;
    }

    .footer-logo img {
        width: 200px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: rem;
    }

    .social-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .social-icon:hover {
        transform: scale(1.1);
    }

    .footer-line {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 1rem 0rem 1rem 0rem;
    }

    .footer-bottom {
        background-color: white;
        color: #333;
        padding: 0.2rem;
        text-align: center;
        line-height: 0.5rem;
    }

    .footer-bottom h3 {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 0.75rem;
    }

    .footer-bottom p {
        font-size: 0.75rem;
    }

}

@media (max-width: 420px) {
    .spouseFemaleContainer {
        right: 0.1rem;
    }
    .spouseMaleContainer {
        left: 0.1rem;
    }
}